# ignore all logs
*.log
# ignore all output data
*output/
resource/
*.fastq.gz
*fq_in/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# R
*.RData
*.Rhistory
